.cards {
  display: grid;
  justify-content: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
  max-width: fit-content;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  /*padding: 20px;*/
  text-align: left;
  border-radius: 8px;
  margin: 2rem;
  justify-content: center;
  list-style-type: none;
  padding: 20px;
  border: 2px solid;
}

.card li {
  margin-top: 10px;
  text-align: left;
}

.centered-list {
  display: flex;
  justify-content: center;
}

.centered-list ul {
  padding: 0;
  text-align: left;
  list-style-type: none;
}